In [1]:
#Importing Dependencies
import pandas as pd
from datetime import date
import random

In [2]:
#Reading in CSV file
raw_csv= "../snp500_data_complete.csv"

df= pd.read_csv(raw_csv)

In [3]:
#Observing Data
df

,Ticker,Company,GICS_Sector,GICS_Sub-Industry,Headquarters,Date_added,Date,Open,High,Low,Close,Adj_Close,Volume
0,ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,2012-05-21,12.000000,12.230000,11.850000,12.200000,11.290536,5713100.0
1,ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,2012-05-22,12.230000,12.240000,11.930000,12.000000,11.105447,6009400.0
2,ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,2012-05-23,11.970000,12.410000,11.960000,12.330000,11.410846,8028000.0
3,ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,2012-05-24,12.390000,12.390000,12.010000,12.100000,11.197991,6165700.0
4,ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,2012-05-25,12.090000,12.280000,12.030000,12.240000,11.327554,4928300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227417,XEL,Xcel Energy,Utilities,Multi-Utilities,"Minneapolis, Minnesota",1957-03-04,2022-05-16,74.360001,75.190002,74.050003,74.830002,74.830002,2678200.0
1227418,XEL,Xcel Energy,Utilities,Multi-Utilities,"Minneapolis, Minnesota",1957-03-04,2022-05-17,75.019997,75.459999,73.599998,75.300003,75.300003,2465500.0
1227419,XEL,Xcel Energy,Utilities,Multi-Utilities,"Minneapolis, Minnesota",1957-03-04,2022-05-18,75.480003,75.709999,74.650002,74.889999,74.889999,3151900.0
1227420,XEL,Xcel Energy,Utilities,Multi-Utilities,"Minneapolis, Minnesota",1957-03-04,2022-05-19,74.800003,75.470001,73.839996,75.010002,75.010002,2954900.0
1227421,XEL,Xcel Energy,Utilities,Multi-Utilities,"Minneapolis, Minnesota",1957-03-04,2022-05-20,75.040001,75.150002,73.620003,74.220001,74.220001,4574000.0

In [4]:
#Dropping unncessary columns
df.drop(["Company","GICS_Sub-Industry", "Headquarters", "Date_added","Open", "High", "Low", "Close", "Volume"], inplace=True, axis=1)

In [5]:
#viewing updated df
df

        Ticker             GICS_Sector        Date  Adj_Close
0         ATVI  Communication Services  2012-05-21  11.290536
1         ATVI  Communication Services  2012-05-22  11.105447
2         ATVI  Communication Services  2012-05-23  11.410846
3         ATVI  Communication Services  2012-05-24  11.197991
4         ATVI  Communication Services  2012-05-25  11.327554
...        ...                     ...         ...        ...
1227417    XEL               Utilities  2022-05-16  74.830002
1227418    XEL               Utilities  2022-05-17  75.300003
1227419    XEL               Utilities  2022-05-18  74.889999
1227420    XEL               Utilities  2022-05-19  75.010002
1227421    XEL               Utilities  2022-05-20  74.220001

[1227422 rows x 4 columns]

In [6]:
#checking the number of stock data per industry
df["GICS_Sector"].value_counts()

Industrials               163496
Information Technology    162127
Health Care               148568
Consumer Discretionary    138168
Financials                129796
Consumer Staples           76147
Real Estate                72941
Materials                  61916
Communication Services     56100
Utilities                  52901
Energy                     50259
Name: GICS_Sector, dtype: int64

In [7]:
#Checking Datatypes of each column
df.dtypes

Ticker          object
GICS_Sector     object
Date            object
Adj_Close      float64
dtype: object

In [8]:
#Changing Datatypes
df['Date'] = pd.to_datetime(df['Date'])
df['Ticker'] = df['Ticker'].astype('string')
df['GICS_Sector'] = df['GICS_Sector'].astype('string')

In [9]:
# Ensuring data types are changed
df.dtypes

Ticker                 string
GICS_Sector            string
Date           datetime64[ns]
Adj_Close             float64
dtype: object

In [16]:
#Removing data with dates that are not included in our economic data file
df = df[~(df['Date'] < '2013-01-01')]
df = df[~(df['Date'] > '2020-12-31')]

In [19]:
#Checking the number of values of each ticker
value_counts = df['Ticker'].value_counts()
value_counts

ATVI    2015
AZO     2015
MTCH    2015
NFLX    2015
PENN    2015
        ...
FOX      457
DOW      452
CTVA     406
OTIS     200
CARR     200
Name: Ticker, Length: 500, dtype: Int64

In [21]:
# Select the values where the count is less than what is needed
to_remove = value_counts[value_counts < 2015].index

# Keep rows where the tickers column is not in to_remove
updated_df = df[~df.Ticker.isin(to_remove)]

In [22]:
#Checking to ensure only kept the tickers with the right amount of data
updated_df['Ticker'].value_counts()

ATVI     2015
OMC      2015
CMCSA    2015
DIS      2015
DISH     2015
         ...
SO       2015
SRE      2015
WEC      2015
AEP      2015
XEL      2015
Name: Ticker, Length: 464, dtype: Int64

In [23]:
#Checking how many data points in each sector
updated_df["GICS_Sector"].value_counts()

Industrials               124930
Information Technology    116870
Health Care               112840
Consumer Discretionary    102765
Financials                100750
Consumer Staples           58435
Real Estate                58435
Materials                  48360
Utilities                  42315
Energy                     40300
Communication Services     38285
Name: GICS_Sector, dtype: Int64

In [78]:
#Creating a list of unique GICS Sectors and removing the NA Sector
unique = updated_df['GICS_Sector'].unique()
unique_df = pd.DataFrame(unique)
unique_df = unique_df.loc[unique_df[0] != "<NA>", :]
unique_df

                         0
0   Communication Services
2   Consumer Discretionary
3         Consumer Staples
4                   Energy
5               Financials
6              Health Care
7              Industrials
8   Information Technology
9                Materials
10             Real Estate
11               Utilities

In [79]:
#created a for loop to randomly select 12 tickers in each sector and added it to the sector_df dataframe

sector_list = []

for i in unique_df[0]:
    sector_df = updated_df.loc[updated_df['GICS_Sector'] == i, :]
    i_tickers = sector_df['Ticker'].unique()
    ticks = random.sample(set(i_tickers), 12)
    sector_list.append(sector_df.loc[sector_df['Ticker'].isin(ticks)])
sectors_df = pd.concat(sector_list)

/var/folders/nm/7qptm5xs7q9_2z9kz7qb_44h0000gn/T/ipykernel_15260/444980743.py:6: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  ticks = random.sample(set(i_tickers), 12)

In [80]:
#Observing new dataframe
sectors_df

        Ticker             GICS_Sector       Date  Adj_Close
154       ATVI  Communication Services 2013-01-02  10.133720
155       ATVI  Communication Services 2013-01-03  10.189246
156       ATVI  Communication Services 2013-01-04  10.337320
157       ATVI  Communication Services 2013-01-07  10.346574
158       ATVI  Communication Services 2013-01-08  10.170738
...        ...                     ...        ...        ...
1219523     SO               Utilities 2020-12-24  56.801426
1219524     SO               Utilities 2020-12-28  56.981899
1219525     SO               Utilities 2020-12-29  57.057884
1219526     SO               Utilities 2020-12-30  57.570808
1219527     SO               Utilities 2020-12-31  58.349689

[265980 rows x 4 columns]

In [81]:
#Ensuring each sector has the same amount of ticker data
ticker_counts = sectors_df.groupby(["GICS_Sector"]).count()["Ticker"]
ticker_counts

GICS_Sector
Communication Services    24180
Consumer Discretionary    24180
Consumer Staples          24180
Energy                    24180
Financials                24180
Health Care               24180
Industrials               24180
Information Technology    24180
Materials                 24180
Real Estate               24180
Utilities                 24180
Name: Ticker, dtype: int64

In [105]:
#Getting the average adjusted closing price per year for each ticker in each sector
grouped_df = sectors_df.groupby([sectors_df['Date'].dt.year, "GICS_Sector", "Ticker"])["Adj_Close"].mean()
grouped_df

Date  GICS_Sector             Ticker
2013  Communication Services  ATVI      14.404242
                              CMCSA     18.338616
                              DIS       57.213066
                              EA        21.654790
                              FB        35.481151
                                          ...
2020  Utilities               ETR       98.400509
                              LNT       50.558830
                              NEE       64.396236
                              NRG       31.443668
                              SO        54.000639
Name: Adj_Close, Length: 1056, dtype: float64

In [106]:
#Reset the index 
cleaned_df = pd.DataFrame(grouped_df)
cleaned_df.reset_index(inplace=True)
cleaned_df

      Date             GICS_Sector Ticker  Adj_Close
0     2013  Communication Services   ATVI  14.404242
1     2013  Communication Services  CMCSA  18.338616
2     2013  Communication Services    DIS  57.213066
3     2013  Communication Services     EA  21.654790
4     2013  Communication Services     FB  35.481151
...    ...                     ...    ...        ...
1051  2020               Utilities    ETR  98.400509
1052  2020               Utilities    LNT  50.558830
1053  2020               Utilities    NEE  64.396236
1054  2020               Utilities    NRG  31.443668
1055  2020               Utilities     SO  54.000639

[1056 rows x 4 columns]

In [108]:
#Checking the data for one year
cleaned_df.loc[cleaned_df["Date"] == 2013]

     Date             GICS_Sector Ticker  Adj_Close
0    2013  Communication Services   ATVI  14.404242
1    2013  Communication Services  CMCSA  18.338616
2    2013  Communication Services    DIS  57.213066
3    2013  Communication Services     EA  21.654790
4    2013  Communication Services     FB  35.481151
..    ...                     ...    ...        ...
127  2013               Utilities    ETR  45.350068
128  2013               Utilities    LNT  19.297972
129  2013               Utilities    NEE  14.905409
130  2013               Utilities    NRG  22.503200
131  2013               Utilities     SO  29.003256

[132 rows x 4 columns]